<!DOCTYPE HTML>
<html>

<head>
    <link rel="stylesheet" href="{{index_css}}">
    <script src="{{index_js}}"></script>
    <link rel="shortcut icon" href="../static/icon/logo.png">
</head>

<body>
    <center>
        <div id="thumbnail" onclick="on_thumbnail_click()"><img id="thumbnail_image" src="../static/icon/undefined.png"></div>
        <table class="styled-table">
            <tr>
                <th>MD5</th>
                <th>SHA1</th>
                <th>Name</th>
                <th>Size</th>
            </tr>
            {{text|safe}}
        </table>
    </center>
    <div id='footer'>
        <div class='left'>{{ strftime() }}</div>
        <div class='center'>{{file_count}}</div>
        <div class='right'>{{time_in_ms}} ms</div>
    </div>
</body>

</html>